h2{
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}

.content-calculadora{
    margin: auto;
    border-radius: 1em;
    width: 230px;
    height: 310px;
    background-color: rgb(115, 119, 118);
}

.flex-content-teclado{
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    background-color: rgb(115, 119, 118);
    width: 210px;
    margin-top: 0.5em;
}

.flex-content-teclado button{
    border-radius: 0.3em;
    width: 3rem;
    text-align: center;
    font-size: 2em;
    font-family: 'Quicksand', sans-serif;
    padding: 0.3rem;
    margin: 2px;
    border: 0;
}

.flex-content-pantalla{
    display: flex;
    margin: auto;
    width: 210px;
    height: 70px;
}

#text-entrada{
    margin-top: 15px;
    border: none;
    border-radius: 0.3em;
    width: 100%;
    background-color: rgb(154, 184, 164);
    font-size: 1em;
    font-family: 'Orbitron', sans-serif;
    text-align: right;
    padding-right: 0.5em;
    
}

.numeros{
    background-color: hsl(180, 4%, 22%);
    color: white;
}

.operadores{
    background-color: hsl(180, 3%, 79%);
    color: azure;
}


